.mySlide > img {
  vertical-align: middle;
  width: 100%;
}

.slideshow-container {
  max-width: 900px;
  max-height: calc(100vh - 100px);
  position: relative;
  overflow: hidden;
  margin: auto;
}
.mySlide {
  display: none;
  width: calc(100% - 90px);
  margin: auto;
}
.prev,
.next {
  position: absolute;
  top: 50%;
  padding: 16px;
  margin-top: -22px;
  font-weight: bold;
  font-size: large;
  cursor: pointer;
  background-color: rgb(55 96 136 / 30%);
  color: white;
  border-radius: 4px 0 0 4px;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 0 4px 4px 0;
}
.prev:hover,
.next:hover {
  background-color: rgb(55 96 136 / 70%);
}
.dots {
  text-align: center;
  width: calc(100% - 90px);
  user-select: none;
  margin: 10px auto;
}
.dots span {
  height: 20px;
  width: 20px;
  background-color: rgb(55 96 136 / 50%);
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  margin: 0;
}
.dots span.active,
.dots span:hover {
  background-color: rgb(55 96 136);
}
.cursor {
  cursor: pointer;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.column {
  float: left;
  width: 20%;
}
.fade {
  animation-name: fade;
  animation-duration: 0.5s;
}
@keyframes fade {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 700px) {
  .mySlide {
    width: 100%;
  }
  .prev,
  .next {
    top: auto;
    bottom: 4px;
    padding: 6px 14px;
  }
}
